.Posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.PostsImgBox {
    cursor: pointer;
    height: 230px;
    aspect-ratio: 1;
}

.PostsImg {
    width: 100%;
}